/* PokemonDetails.css */

/* Asegúrate de que el contenedor principal ocupe todo el alto de la pantalla */
.main-pokemon-details {
  padding: 0; /* Elimina el padding para ocupar el 100% del alto */
  margin: 0; /* Elimina el margen para ocupar el 100% del alto */
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

/* Colores para el tema oscuro y claro */
.main-pokemon-details.nigth {
  background-color: #1e2a38;
}

.main-pokemon-details.light {
  background-color: #ffec9fa5; /* Tema claro */
}

/* Contenedor de detalles del Pokémon */
.pokemon-details {
  margin: 0; /* Elimina el margen para ajustar el tamaño al 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Ocupa el 100% del ancho del contenedor principal */
}

/* Colores para el tema oscuro y claro */
.pokemon-details.nigth {
  background-color: rgba(255, 255, 255, 0.05);
}

.pokemon-details.light {
  background-color: #fef6d9; /* Fondo ligeramente contrastante para el tema claro */
}

/* Botón de volver */
.go-back-button {
  font-size: 45px;
  transition: transform 0.3s, color 0.3s ease;
}

.go-back-button.nigth {
  color: #47aee8;
}

.go-back-button.light {
  color: #2795c0;
}

.go-back-button:hover {
  transform: scale(1.1);
}

.go-back-button:active {
  transform: scale(0.9);
}

/* Habilidades del Pokémon */
.habilities-pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

/* Contenedor de detalles */
.containt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: color 0.3s ease;
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
}

/* Colores para el tema oscuro y claro */
.containt.nigth {
  color: #ffffff;
}

.containt.light {
  color: #333333;
}

/* Barra de progreso */
.progress {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 20px;
  width: 200px;
  max-width: 200px;
  margin-left: 10px;
  overflow: hidden;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar {
  background-color: #2795c0;
  height: 100%;
  border-radius: 10px;
  width: 0;
  transition: width 2s ease-out;
}

/* Contenedor de botones */
.btn-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}

/* Botón de favoritos */
.btn-favorite {
  border: 3px solid #2795c0;
  border-radius: 20px;
  height: 50px;
  width: 180px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-favorite.nigth {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-favorite.light {
  color: #2795c0;
}

.btn-favorite:hover {
  transform: scale(1.1);
  background-color: #2795c0;
  color: #ffffff;
}

.btn-favorite:active {
  transform: scale(0.9);
}

/* Imagen del Pokémon */
.poke-img {
  width: 220px;
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.poke-img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Estilos para dispositivos móviles */
@media (max-width: 375px) {
  .progress {
    width: 150px;
  }

  p {
    font-size: 80%;
  }

  .btn-container {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .poke-img {
    width: 180px;
  }
}
