.main-pokemon-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-back-button{
  font-size: 50px;
  transition: all 0.2s;
}

.main-pokemon-details.nigth {
  background-color: #1e2a38;
}

.containt.nigth{
  color: white;
}

.go-back-button:hover{
  transform: scale(1.1);
}

.go-back-button:active{
  transform: scale(0.9);
}

.habilities-pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.containt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.progress {
  background-color: #ffffff;
  border-radius: 10px;
  height: 20px;
  width: 200px;
  max-width: 200px;
  margin-left: 10px;
  overflow: hidden;
}

.progress-bar {
  background-color: #2795c0;
  height: 100%;
  border-radius: 10px;
  width: 0;
  transition: width 2s ease-out;
}

.poke-img {
  width: 300px;
  height: auto;
  transition: opacity 0.3s ease;
}

.info-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


