.navbar {
  background-color: #ffec9f;
  padding: 10px 20px;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.nav-item {
  font-size: 20px;
  margin: 0; /* Elimina cualquier margen aplicado a los nav-items */
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  color: #000;
  font-size: 24px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin: 0; /* Elimina el margen de los enlaces de navegación */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.form-control {
  max-width: 250px;
}

.image-flags {
  width: 40px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffec9f;
  color: #000000;
}

.navbar.navbar-expand-lg.nigth,
.navbar-brand.nigth,
.nav-link.active.nigth,
.nav-link.dropdown-toggle.nigth,
.nav-link.toggle.nigth {
  background-color: #1a1a2e;
  color: #ffffff;
}

nav.night .navbar-toggler-icon {
  color: #ffffff;
}

nav.night .dropdown-menu {
  background-color: #1a1a2e;
}

nav.night .dropdown-item {
  color: #ffffff;
}

nav.night .dropdown-item:hover {
  background-color: #333333;
}

nav.night .nav-link {
  color: #ffffff;
}

.nav-link.toggle {
  font-size: 24px;
}

.dropdown-item {
  cursor: pointer;
}
