.navbar {
  background-color: #ffec9f;
}

.navbar-toggler {
  border-color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffec9f;
  color: #000000;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu.show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav.nigth {
  color: #ffffff;
  background-color: #1a1a2e;
}

.navbar.navbar-expand-lg.nigth {
  color: #ffffff;
}

nav.nigth .navbar-toggler {
  border-color: #ffffff;
}

nav.nigth .dropdown-menu {
  background-color: #1a1a2e;
}

nav.nigth .dropdown-item {
  color: #ffffff;
}

nav.nigth .dropdown-item:hover {
  background-color: #333333;
}

.nav-link.active.nigth,
.container-fluid .nigth,
.nav-link.dropdown-toggle.nigth,
.nav-link.nigth {
  color: white;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
