* {
  font-family: "Luckiest Guy", cursive;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #ffec9fa5;
}

body::-webkit-scrollbar-thumb {
  background-color: #f8de76;
  border-radius: 20px;
}
