.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  border-radius: 15px;
  padding: 10px;
  background-color: #ffec9f;
  z-index: 1040; /* Colocado por debajo de la navbar */
}

.toggleBtn.nigth {
  color: #ffffff;
  background-color: #1a1a2e;
}

.countFavorite {
  position: relative;
  font-size: 16px;
}

.floating-navbar {
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 1060; /* Asegúrate de que esté por encima del botón de favorito */
  border-radius: 8px;
  padding: 10px;
}

.navbar-favorites {
  z-index: 1070; /* Asegúrate de que esté por encima de la navbar */
  position: relative;
}

.favorite-icon {
  z-index: 1030; /* Colocado por debajo de la navbar */
}

.btnDelete {
  margin-left: 10px;
}
