.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  background-color: aqua;
  border-radius: 15px;
  padding: 10px;
  font-size: 24px;
  background-color: #ffec9f;
}

.floating-navbar {
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 1000;
  border-radius: 8px;
  padding: 10px;
}
